* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background: linear-gradient(90deg, #FDB930, #FF5F52);
}

.content {
    padding: 1rem;
    
    height: 100vh;
    width: 100vw;
}

.content h1 {
    font-family: 'Pokemon Solid',sans-serif;
    font-size: max(5vw,5rem);
    color: #ffcb05;
    text-align: center;
    -webkit-text-stroke: 5px #3b5ca8;
    text-shadow: -1px 0px 0px #1d2c5e;
}
.content h2 {
    font-size: 20px;
    text-align: center;
    color: #2a75bb;
}

.number-gen {
    list-style-type: none;
    margin: 1rem auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.number-gen button {
  margin-left: 0.2rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.number-gen button:hover {
    background-color: #ffcb05 ;
}


/* MEDIA QUERIES */
@media screen and (min-width: 380px){
    .number-gen {
        margin: 1rem auto;
        
    }
    .number-gen button {
        margin-left: 0.2rem;
        padding: .5rem;
    }
    
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
    }
    
}
